/* RESPONSIVE 375PX */

@media only screen and (max-width: 375px){
    
    /* NAV */
    
    .navmenu{
        margin: 2% 0 2% 14%;
        display: grid;
        grid-template-columns: 0.85fr;
    }
    
    .navname h1{
        margin-top: 15%;
        font-size: 5vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 2.5vh;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    /* HEADER */
    
    .section1{
        display: block;
        margin: 30% 0 10% 0;
    }
    
    .section1-text{
        margin: 0;
    }
    
    
    /* SECTION 2 */
    
    .section2{
        display: block;
        margin: 0;
        padding: 2% 2% 2% 0;
    }
    
    .section2-text{
        width: auto;
        padding-left: 5%;
    }
    
    .section2-image{
        margin: 0;
        text-align: center;
        padding-left: 2%;
    }
    
    .section2-image img{
        height: 100%;
        width: 100%;
    }
    
    
    /* SECTION 3 */
    
    .section3-image{
        display: none;
    }
    
    .section3 h1{
        line-height: 7vh;
    }
    
    .section3{
        margin: 0;
        padding: 2% 2% 2% 5%;
    }
    
    .section3-text{
        width: auto;
        margin: 0;
    }
    
    
    /* FOOTER */
    footer{
        font-size: 2.8vh;
    }
    
}


/* RESPONSIVE 376PX - 425PX */

@media only screen and (min-width: 376px) and (max-width: 425px){

    /* NAV */
    
    .navmenu{
        margin: 2% 0 2% 20%; 
        display: grid;
        grid-template-columns: 0.9fr;
    }
    
    .navname h1{
        margin-top: 10%;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 2.8vh;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    /* HEADER */
    
    .section1{
        display: block;
        margin: 25% 0 0 0;
    }
    
    .section1 img{
        width: 40vw;
        height: 30vh;
        margin-left: 30%;
    }
    
    .section1-text{
        margin: 0;
    }
    
    
    /* SECTION 2 */
    
    .section2{
        display: block;
        margin: 20% 10% 0 10%;
        padding-left: 2%;
    }
    
    .section2-text{
        width: auto;
    }
    
    .section2-image{
        margin: 0;
        text-align: center;
    }
    
    .section2-image img{
        height: 40vh;
        width: 70vw;
    }
    
    
    /* SECTION 3 */
    
    .section3-image{
        display: none;
    }
    
    .section3{
        margin: 5% 10% 0 10%;
        padding-left: 2%;
    }
    
    .section3-text{
        width: auto;
        margin: 0;
    }
    
    
    /* FOOTER */
    
    footer{
        font-size: 2.8vh;
    }
    
}


/* RESPONSIVE 426PX - 550PX */

@media only screen and (min-width: 426px) and (max-width: 574px){

    /* NAV */
    
    .navmenu{
        margin: 2% 0 2% 20%; 
        display: grid;
        grid-template-columns: 0.9fr;
    }
    
    .navname h1{
        margin-top: 10%;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 2.8vh;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    
    /* HEADER */
    
    .section1{
        display: block;
        margin: 20% 0 0 0;
    }
    
    .section1 img{
        width: 40vw;
        height: 50vh;
        margin-left: 30%;
    }
    
    .section1-text{
        margin: 0;
    }
    
    
    /* SECTION 2 */
    
    .section2{
        display: block;
        margin: 20% 10% 0 10%;
        padding-left: 2%;
        
    }
    
    .section2-text{
        width: auto;
        padding-left: 4%;
    }
    
    .section2-image{
        margin: 0;
        text-align: center;
    }
    
    .section2-image img{
        height: 40vh;
        width: 70vw;
    }
    
    
    /* SECTION 3 */
    
    .section3-image{
        display: none;
    }
    

    
    .section3{
        margin: 5% 10% 0 10%;
    }
    
    .section3-text{
        width: auto;
        margin: 0;
    }
    
}


/* RESPONSIVE 551PX - 768PX */

@media only screen and (min-width: 575px) and (max-width: 768px){

    /* NAV */
    
   nav{
        font-size: 2.8vh;
        display: flex;
    }
    
    .navname h1{
        margin-top: 5%;
    }
    
    .navmenu{
        margin: 1% 0 0 10%;
        font-size: 1.9vh;
    }
    
    .navmenu a{
        margin-right: 5%;
    }
    
    
    /* HEADER */
    
    .section1{
        display: block;
        margin: 0;
        margin-top: 15%;
    }
    
    .section1 img{
        width: 40vw;
        height: 50vh;
        margin-left: 30%;
    }
    
    .section1-text{
        margin: 0;
    }
    
    
    /* SECTION 2 */
    
    .section2{
        display: block;
        margin: 20% 10% 0 10%;
        padding: 0;
    }
    
    .section2-text{
        width: auto;
        padding: 5% 2% 0 5%;
    }
    
    .section2-image{
        margin: 0;
        text-align: center;
    }
    
    .section2-image img{
        height: 70vh;
        width: 70vw;
    }
    
    
    /* SECTION 3 */
    
    .section3-image{
        display: none;
    }
    

    
    .section3{
        margin: 5% 10% 0 10%;
        padding: 5%;
    }
    
    .section3-text{
        width: auto;
        margin: 0;
    }
    
}



/* RESPONSIVE 767PX - 1080PX */

@media only screen and (min-width: 767px) and (max-width: 1080px){
    
    /* NAV */
    
   nav{
        font-size: 2.8vh;
        display: flex;
    }
    
    .navname h1{
        margin-top: 5%;
    }
    
    .navmenu{
        margin: 1% 0 0 25%;
        font-size: 1.9vh;
    }
    
    .navmenu a{
        margin-right: 5%;
    }
    
}

    

/* RESPONSIVE 1440PX - 2560PX */

@media only screen and (min-width: 1440px) and (max-width: 2560px){
    
    /* NAV */
    
   nav{
        font-size: 2.8vh;
        display: flex;
    }
    
    .navname h1{
        margin-top: 5%;
    }
    
    .navmenu{
        margin: 0.5% 0 0 30%;
        font-size: 1.9vh;
    }
    
    .navmenu a{
        margin-right: 5%;
    }
    
    
}