/* Header & body */
header {
    background-image: url(tellus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% 20%;
    width: 100%;
    height: 70vh;
}
p { 
    font-size: 3vh;
}
h3{
    padding: 2%;
}
body {
    margin: 0;
    background-color: #D3DDE0;
}

.tellus {
    padding-top: 4%;
}

.tellus h1{
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    font-size: 80px;
}

h1:focus{
    color:red;
    outline:none;
}

/* Nav */
.meny {
    width: 100%;
}

.meny h1{
    display: inline-block;
    padding: 1%;
    width: 23%;
    text-align: center;
    margin: 0;    
    color: white;
    background-color: #081161;
    border-top: solid #4A59DE;
    border-bottom: solid #4A59DE;
}


.meny2:hover, .meny3:hover, .meny4:hover{
    text-decoration: underline;
    text-decoration-color: #4A59DE;
}

.meny .meny1{
    background-color: #4A59DE;
}

/* Felles for alle sidene */
.problemstillinginnhold {
    background-color: #FCFCFA;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 7px 25px 1px rgba(0,0,0,0.75);
    padding: 3%;
}

/* Body for Problemstilling */
.problemstillinginnhold {
    margin-left: 5%;
}

/* RESPONSIVE FOR 768PX */

@media only screen and (max-width: 768px){
    
/* Responsive design for header og navbar */
    header {
        background-position: 55%;
        height: 30vh;   
    }
    
    p {font-size: 3vh;}
    
    .tellus{
        padding: 0;
    }
    
    .tellus h1{
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: 50px;
        display: block;
        position: absolute;
        left: 25%;
        top: 10%;
    }
    
    .meny{
        padding: 0;
    }
    
    .meny h1{
        display: inline-block;
        padding: 1.5%;
        width: 47%;
        text-align: center;
        margin: 0;    
        font-size: 20px;
    }
    

/* Respnsive design for problemstilling-side */
    .problemstillinginnhold{
        margin: 0;
    }
    
}