/* BODY */

body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    position: relative;
    letter-spacing: 0.1em;
}


/* NAV */

nav{
    background-color: rgb(209, 209, 224);
    display: flex;
    box-shadow: 0px 8px 23px -8px rgba(0,0,0,0.75);;
    color: black;
    width: 100%;
}

.navname{
    padding-left: 5%;
    width: 20%;
}

.navname a{
    text-decoration: none;
}

.navname a:hover{
    text-decoration: none;
}

.navmenu{
    margin: 0 5% 0 50%;
    width: 60%;
    display: inline-flex;
}

.navmenu a{
    color:black;
    margin-right: 10%;
    text-decoration: none;
}

.navmenu a:hover {
    text-decoration: underline rgb(35, 23, 183);
}

.navmenu a:link{
    color:black;
}
.navmenu a:visited{
    color:rgb(6, 7, 64);
}


/* SECTION */

.section-container{
    margin: 5% 0  5% 25%;
    font-size: 3vh;
}

.info{
    display: flex;
    margin-bottom: 5%;
}

.navn{
    width: 25%;
}

.email{
    margin-left: 15%;
    width: 25%;
}

.kontaktinfo{
    display: none;
}


/* FOOTER */

footer{
    text-align: center;
   background-color: rgb(119, 136, 153,0.4);
    font-size: 3vh;
    position: absolute;
    width: 100%;
}