/* RESPONSIVE 329PX */

@media only screen and (max-width: 329px){
      
    /* NAV */
    
    .navmenu{
        margin: 2% 0 0 14%;
        font-size: 1.8vh; 
        display: grid;
        grid-template-columns: 0.85fr;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    /* SECTION */
    
    .section-container{
        margin-left: 2%;
        font-size: 2.9vh;
        padding-top: 15%;
    }
    
    
    .section-container h1, h3{
        text-align: center;
    }

    .info{
        font-size: 2vh;
    }
    
    .email{
        margin-left: 10%;
    }
    
    
    
    /* FOOTER */
    footer{
        font-size: 2vh;
        position: fixed;
        bottom: 0;
    }
    
}



/* RESPONSIVE 330PX - 375PX */

@media only screen and (min-width: 330px) and (max-width: 375px){

    /* NAV */
    
    .navmenu{
        margin: 2% 0 0 14%;
        font-size: 1.8vh; 
        display: grid;
        grid-template-columns: 0.85fr;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    /* SECTION */
    
    .section-container{
        margin-left: 2%;
        font-size: 2.9vh;
        padding-top: 15%;
    }
    
    
    .section-container h1, h3{
        text-align: center;
    }

    .info{
        font-size: 2.3vh;
    }
    
    .email{
        margin-left: 10%;
    }
    
    
    
    /* FOOTER */
    footer{
        font-size: 2.5vh;
        position: fixed;
        bottom: 0;
    }
    
}



/* RESPONSIVE 376PX - 425PX */

@media only screen and (min-width: 376px) and (max-width: 425px){
        
    /* NAV */
    
    .navmenu{
        margin: 2% 0 0 14%;
        font-size: 1.8vh; 
        display: grid;
        grid-template-columns: 0.85fr;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    /* SECTION */
    
    .section-container{
        margin-left: 2%;
        font-size: 2.9vh;
        padding-top: 15%;
    }
    
    .section-container h1, h3{
        text-align: center;
    }

    .info{
        font-size: 2.8vh;
    }
    
    .email{
        margin-left: 10%;
    }
    
    
    
    /* FOOTER */
    footer{
        font-size: 2.5vh;
        position: fixed;
        bottom: 0;
    }
    
    
}


/* RESPONSIVE 1440PX - 2560PX */

@media only screen and (min-width: 1440px) and (max-width: 2560px){
    
    /* NAV */
    
    nav{
        font-size: 2.6vh;
    }
    
    .navmenu{
        margin-left: 40%;
    }
}

/* RESPONSIVE landscape */
@media only screen and (orientation:landscape) and (max-width: 1024px) {
   .section-container{
        font-size: 2.9vh;
        padding-top: 5%;
       margin-left: 10%;
    }
    
    .navmenu{
        margin: 2% 0 2% 10%; 
        display: flex;
    }
    
    .navname h1{
        margin-top: 8%;
        font-size: 8vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 4vh;
    }
    .section{
        font-size: 4vh;
    }