/* Header & body */
header {
    background-image: url(tellus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% 20%;
    width: 100%;
    height: 70vh;
}
p { 
    font-size: 3vh;
}
h3{
    padding: 2%;
}
body {
    margin: 0;
    background-color: #D3DDE0;
}

.tellus {
    padding-top: 4%;
}

.tellus h1{
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    font-size: 80px;
}

/* Nav */
.meny {
    width: 100%;
}

.meny h1{
    display: inline-block;
    padding: 1%;
    width: 23%;
    text-align: center;
    margin: 0;    
    color: white;
}

/* Siden det blir kun satt på bakgrunnsfarge er kodelinjene forkortet så det skal se ryddigere ut */
.meny1{background-color: #2874A6;}

.meny2{background-color: #2980B9;}

.meny3{background-color: #3498DB;}

.meny4{background-color: #5DADE2;}



/* Felles for alle sidene */
.losningsforslaginnhold{
    background-color: #FCFCFA;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 7px 25px 1px rgba(0,0,0,0.75);
    padding: 3%;
}

/* Body for Løsningsforslag */

.losningsforslaginnhold {
    margin-left: 5%;
}

/* Bilde av Hierarki */

.losningsforslaginnhold img {
    width: 65vw;
    height: 70vh;
    margin-left: 10%;
    
}

/* overskrift for innholdet på siden*/
.losningsforslaginnhold h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 1%;
    
}


/* RESPONSIVE FOR 768PX */

@media only screen and (max-width: 768px){
    
/* Responsive design for header og navbar */
    header {
        background-position: 55%;
        height: 30vh;   
    }
    
    p {font-size: 3vh;}

    
    .tellus{
        padding: 0;
    }
    
    .tellus h1{
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: 50px;
        display: block;
        position: absolute;
        left: 25%;
        top: 10%;
    }
    
    .meny{
        padding: 0;
    }
    
    .meny h1{
        display: inline-block;
        padding: 1.5%;
        width: 47%;
        text-align: center;
        margin: 0;    
        font-size: 20px;
    }

/* Responsive design for løsningsforslag-side */
    .losningsforslaginnhold{
        margin: 0;
    }

/* Responsive design for overskrift for innholdet på siden*/
    .losningsforslaginnhold h1 {
        font-size: 5vh;
        text-align: center;
        margin-bottom: 5%;/*???*/
        margin-top: 3%; /*???*/
    
    }

}


/* */
@media only screen and (max-width: 750px){
        .losningsforslaginnhold img {
            width: 90vw;
            height: 60vh;
            margin-left: 0%;
    
        }
}

/* */
@media only screen and (max-width: 500px){
        .losningsforslaginnhold img {
            width: 90vw;
            height: 30vh;
            margin-left: 0%;
    
        }
}