/* BODY */

body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    letter-spacing: 0.1em;
    
}

body p{
    line-height: 5vh;
    font-size: 3vh;
}

:focus{outline-color: black;}

/* NAV */

nav{
    background-color: rgb(209, 209, 224);
    display: flex;
    box-shadow: 0px 8px 23px -8px rgba(0,0,0,0.75);;
    color: black;
    width: 100%;
    position: fixed;
    top: 0;
}

.navname{
    padding-left: 5%;
    width: 20%;
}

.navname h1{
    margin: 2% 0 0 0;
    font-size: 7vh;
}

.navname a{
    text-decoration: none;
}

.navname a:hover{
    text-decoration: none;
}

.navmenu{
    margin-left: 25%;
    width: 60%;
}

.navmenu a{
    color:black;
    margin-right: 10%;
    text-decoration: none;
    display: inline-block;
}

.navmenu a:hover {
    text-decoration: underline rgb(35, 23, 183);
}

.navmenu a:link{
    color:black;
}

.navmenu a:visited{
    color:rgb(6, 7, 64);
}


/* SECTION 1 */

.section1{
    background-color:rgb(130, 95, 177,0.6);
    padding: 8% 0 8% 0;
    text-align: center;

}

.section1 h1{
    font-size: 6vh;
}

.section1 h2{
    margin: 0 20% 0 20%;
    font-weight: 300;
    line-height: 6vh;
}


/* SECTION 2 */

.section2{
    padding: 4% 5% 0 10%;
    margin-top: 2%;
    display: flex;
}


.section2-image img{
    width: 15vw;
    height: 60vh;
}

.section2-text{
    margin-top: 1%;
    line-height: 4vh;
}



/* SECTION 3 */

.section3{
    padding: 0 5% 4% 10%;
    display: flex;
}


.section3-image img{
    width: 15vw;
    height: 60vh;
}

.section3-text{
    margin-top: 1%;
    line-height: 4vh;
}


/* SECTION 4 */

.section4{
    padding: 4% 15% 4% 15%;
    background-color: rgb(230, 230, 230, 0.7);
}


/* FOOTER */

footer{
    text-align: center;
    background-color: rgb(119, 136, 153,0.4);
    font-size: 3vh;
}
