@media only screen and (max-width: 425px) and (orientation:portrait){
    
    /* NAV */

    .navmenu{
        margin: 2% 0 2% 20%; 
        display: grid;
        grid-template-columns: 0.9fr;
    }
    
    .navname h1{
        margin-top: 15%;
        font-size: 4vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 2vh;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    /* SECTION 1 */
    
    .section1{
        margin-top: 5%;
    }
    
    .section1 h1{
        font-size: 5vh;
    }
    
    .section1 h2{
        margin: 0;
        padding: 0 2% 0 2%;
    }
    
    
    /* SECTION 2*/
    
    .section2{
        display: block;
    }
    
    .section2 img{
        width: 100%
    }
    
    
    /* SECTION 3 */
    
    .section3{
        display: block;
    }
    
    .section3 img{
        width: 100%
    }
    
    
    /* SECTION 4 */
    
    .section4{
        padding: 3%;
    }
}


/* RESPONSIVE 426PX - 609PX */

@media only screen and (min-width: 426px) and (max-width: 609px) and (orientation:portrait){
    
    /* NAV */

    .navmenu{
        margin: 2% 0 2% 20%; 
        display: grid;
        grid-template-columns: 0.9fr;
    }
    
    .navname h1{
        margin-top: 20%;
        font-size: 5vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 2.5vh;
    }
    
    .nav1{
        grid-row-start: 0;
        grid-row-end: 1;
        
    }

    .nav2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    
    /* SECTION 1 */
    
    .section1{
        padding-top: 25%;
    }
    
    .section1 h1{
        font-size: 6vh;
    }
    
    .section1 h2{
        margin: 0;
    }
    
    
    /* SECTION 2*/
    
    .section2{
        display: block;
    }
    
    .section2 img{
        width: 100%
    }
    
    
    /* SECTION 3 */
    
    .section3{
        display: block;
    }
    
    .section3 img{
        width: 100%
    }

    
    
    /* Section 4 */
    
    .section4{
        padding: 5%;
    }

    
    /* FOOTER */
    
    footer{
        font-size: 2.8vh;
    }
}


/* RESPONSIVE 610PX - 768PX */

@media only screen and (min-width: 610px) and (max-width: 768px) and (orientation:portrait){

       /* NAV */
    
    .navmenu{
        margin: 2% 0 2% 10%; 
        display: flex;
    }
    
    .navname h1{
        margin-top: 8%;
        font-size: 5vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 3vh;
    }
    
    
    
    
    /* SECTION 1 */
    
    .section1{
        padding-top: 15%;
    }
    
    .section1 h1{
        font-size: 6vh;
    }
    
    .section1 h2{
        margin: 1%;
    }
    
    
    /* SECTION 2*/
    
    .section2{
        display: block;
    }
    
    .section2 img{
        width: 50vw;
    }
    
    
    /* SECTION 3 */
    
    .section3{
        display: block;
    }
    
    .section3 img{
        width: 50vw;
    }

    
    
    /* Section 4 */
    
    .section4{
        padding: 5%;
    }
    
    
    /* FOOTER */
    footer{
        font-size: 3vh;
    }
    
}


/* RESPONSIVE 610PX - 768PX */

@media only screen and (min-width: 769px) and (max-width: 800px) and (orientation:portrait){
    
    /* NAV */
    
    .navmenu{
        margin: 2% 0 2% 10%; 
        display: flex;
    }
    
    .navname h1{
        margin-top: 8%;
        font-size: 5vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 3vh;
    }
}


/* RESPONSIVE 1367X - 1439PX */

@media only screen and (min-width: 801px) and (max-width: 1439px){
    
      /* NAV */
    
    .navmenu{
        margin: 2% 0 2% 20%; 
        display: flex;
    }
    
    .navname h1{
        margin-top: 8%;
        font-size: 5vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 3vh;
    }
}


/* RESPONSIVE 1440PX - 2560PX */

@media only screen and (min-width: 1440px) and (max-width: 2560px){
    
    /* NAV */
    
    nav{
        font-size: 2vh;
    }
    
    
    /* SECTION 1 */
    
    .section1-text{
        margin: 20% 2% 5% 2%;
    }
    
    
    /* SECTION 2*/
    
    .section2{
        padding-left: 5%; 
        padding-right: 5%;
    }
    
    .section2 p{
        margin: 0;
    }
    
    
    /* SECTION 3 */
    
    .section3{
        padding: 4% 0 4% 0;
    }
    
    .section3-image{
        margin-left: 5%;
    }
    
    .section3 img{
        width: 25vw;
    }
    
    
    /* Section 4 */
    
    .section4{
        padding: 4% 0 4% 0;
    }
    
    .section4-image{
        margin-left: 5%;
    }
    
    .section4 img{
        width: 25vw;
    }
    
    
     /* Section 5 */
    
    
    .section5{
        padding: 4% 0 4% 0;
    }
    
    .section5-image{
        margin-left: 5%;
    }
    
    .section5 img{
        width: 25vw;
    }
    
    
     /* Section 6 */
    
    .section6{
        padding: 4% 0 4% 0;
    }
    
    .section6-image{
        margin-left: 5%;
    }
    
    .section6 img{
        width: 25vw;
    }
    
    
    /* SECTION 7 */
    
    .section7{
        padding-left: 5%;
    }
    
    .section7 p{
        margin: 0;
    }
    
    
}

/* RESPONSIVE landscape */

@media only screen and (orientation:landscape) and (max-width: 1024px) {
    .navmenu{
        margin: 2% 0 2% 10%; 
        display: flex;
    }
    
    .navname h1{
        margin-top: 8%;
        font-size: 8vh;
    }
    
    .navmenu h1{
        margin: 2% 0 0 0;
        font-size: 4vh;
    }
    
    .section4 p{
        font-size: 4vh;
    }
    
    .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    
    .section2-image{
        align-content: right;
    }
    
    .section2 img{
        width: 80%;
        height: 80%;
        margin: 0;
    }
    
    .section2-text{
        grid-column-start: span 3;
        grid-column-end: 4;
        font-size: 4vh;
    }
    
    .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    
    .section3-image{
        align-content: right;
    }
    
    .section3 img{
        width: 80%;
        height: 80%;
        margin: 0;
    }
    
    .section3-text{
        grid-column-start: span 3;
        grid-column-end: 4;
        font-size: 4vh;
    }
}