/* Header & body */
header {
    background-image: url(tellus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% 20%;
    width: 100%;
    height: 70vh;
}
p { 
    font-size: 3vh;
}
h3{
    padding: 2%;
}
body {
    margin: 0;
    background-color: #D3DDE0;
}

.tellus {
    padding-top: 4%;
}

.tellus h1{
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    font-size: 80px;
}

/* Nav */
.meny {
    width: 100%;
}

.meny h1{
    display: inline-block;
    padding: 1%;
    width: 23%;
    text-align: center;
    margin: 0;    
    color: white;
}

/* Siden det blir kun satt p책 bakgrunnsfarge er kodelinjene forkortet s책 det skal se ryddigere ut */
.meny1{background-color: #2874A6;}

.meny2{background-color: #2980B9;}

.meny3{background-color: #3498DB;}

.meny4{background-color: #5DADE2;}




/* Body for M책lgrupper */
.malgruppeinnhold {
    display: flex;
    background-color: #FCFCFA;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 7px 25px 1px rgba(0,0,0,0.75);
    padding: 2%;
    height: auto;
}

.malmain{
    width: 70%;
    margin-left: 5%;
}

.malmain h2{
    color: white; 
    padding: 2%;
    margin-top: 0;
}

.malmeny {
    position: sticky;
    width: 30%;
    text-decoration: none;
    height: 1%;
    top: 0;
    box-shadow: -1px 10px 22px -8px rgba(0,0,0,0.75);
}

.malmeny h2{
    padding-bottom: 5%;
}

.malmeny a{
    text-decoration: none;
}


.malgruppe1 h2{background-color: #2ECC71;}

.malgruppe2 h2{background-color: #28B463;}

.malgruppe3 h2{background-color: #229954;}

.malgruppe4 h2{background-color: #1E8449;}

.malgruppe5 h2{background-color: #196F3D;}

.malgruppe1, .malgruppe2, .malgruppe3, .malgruppe4, .malgruppe5{
    width: 50vw;
}

.malmeny h2{
    color: white;
    width: auto;
    margin: 0;
    padding: 5%;
}

.malmeny .gruppe1{background-color: #2ECC71;}

.malmeny .gruppe2{background-color: #28B463;}

.malmeny .gruppe3{background-color: #229954;}

.malmeny .gruppe4{background-color: #1E8449;}

.malmeny .gruppe5{background-color: #196F3D;}



/*RESPONSIVE FOR 1200PX */
@media only screen and (max-width: 1200px) and (min-width: 767px){
    .malmain h2{
        font-size: 5vw;
    }
    
    .malmeny h2{
        font-size: 4vw;
    }
}



/* RESPONSIVE FOR 768PX */

@media only screen and (max-width: 768px){
    
/* Responsive design for header og navbar */
    header {
        background-position: 55%;
        height: 30vh;   
    }
    
    p {font-size: 3vh;}
    
    .tellus{
        padding: 0;
    }
    
    .tellus h1{
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: 50px;
        display: block;
        position: absolute;
        left: 25%;
        top: 10%;
    }
    
    .meny{
        padding: 0;
    }
    
    .meny h1{
        display: inline-block;
        padding: 1.5%;
        width: 47%;
        text-align: center;
        margin: 0;    
        font-size: 20px;
    }
        
/* Respnsive design for m책lgrupper-side */
    .malgruppeinnhold { 
        margin: 0;
        padding: 0;
        min-height: 500vh;
    }
    
    .malmeny {    
        margin: 0;
        position: sticky;
        box-shadow: none;
        width: 100%;
    }
    
    .malmeny h2{
        display: inline-block;
        font-size: 4vw;
        padding: 3%;
    }
    
    .malmeny .gruppe1, .malmeny .gruppe2, .malmeny .gruppe3 {
        width: 27.3vw;
    }
    
    .malmeny .gruppe4, .malmeny .gruppe5 {
        width: 44vw;
    }
    
    .malgruppe1, .malgruppe2, .malgruppe3, .malgruppe4, .malgruppe5{
        width: 100%;
    }
    
    .malmain h1, .malmain p{
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .malmain {
        width: 100%;
        margin: 0;
        position: absolute;
        margin-top: 8vh;
    }
    
}