/* Header & body */
header {
    background-image: url(tellus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% 20%;
    width: 100%;
    height: 70vh;
}
p { 
    font-size: 3vh;
}
h3{
    padding: 2%;
}
body {
    margin: 0;
    background-color: #D3DDE0;
}

.tellus {
    padding-top: 4%;
}

.tellus h1{
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    font-size: 80px;
}

/* Nav */
.meny {
    width: 100%;
}

.meny h1{
    display: inline-block;
    padding: 1%;
    width: 23%;
    text-align: center;
    margin: 0;    
    color: white;
}

/* Siden det blir kun satt på bakgrunnsfarge er kodelinjene forkortet så det skal se ryddigere ut */
.meny1{background-color: #2874A6;}

.meny2{background-color: #2980B9;}

.meny3{background-color: #3498DB;}

.meny4{background-color: #5DADE2;}



/* Felles for alle sidene */
.problemstillinginnhold, .losningsforslaginnhold, .malgruppeinnhold, .videreutviklinginnhold {
    background-color: #FCFCFA;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 7px 25px 1px rgba(0,0,0,0.75);
    padding: 3%;
}

/* Body for Problemstilling */
.problemstillinginnhold {
    margin-left: 5%;
}


/* Body for Løsningsforslag */

.losningsforslaginnhold {
    margin-left: 5%;
}


/* Body for Målgrupper */
.malgruppeinnhold {
    display: flex;
    padding: 1%;
}

.malmain{
    width: 70%;
    margin-left: 5%;
}

/*
.malmeny {
    position: sticky;
    width: 10%;
    text-decoration: none;
    border: solid;
    height: 60vh;
    top: 0;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.malmeny h2{
    padding-bottom: 5%;
}
.malmeny a{
    text-decoration: none;
}
*/
.malmain {
}

.malmain h2{
    color: white; 
    padding: 2%;
}

.malgruppe1 h2{background-color: #2ECC71;}

.malgruppe2 h2{background-color: #28B463;}

.malgruppe3 h2{background-color: #229954;}

.malgruppe4 h2{background-color: #1E8449;}

.malgruppe5 h2{background-color: #196F3D;}

.malgruppe1, .malgruppe2, .malgruppe3, .malgruppe4, .malgruppe5{
    width: 50vw;
}

/* Body for Videre utvikling */


.videreutviklinginfo {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}


.boks1, .boks2, .boks3, .boks4, .boks5, .boks5, .boks6{
    border: solid;
    border-color: black;
    border-width: thin;
    width: 29%;
    padding-left: 1%;
    color: white;
    box-shadow: 5px 7px 53px -21px rgba(0,0,0,0.75);
    line-height: 22px;
    min-height: 50vh;
    margin-left: 1%;
    
}


.boks1 {background-color: #B03A2E;}

.boks2 {background-color: #F39C12;}

.boks3 {background-color: #21618C;}

.boks4 {background-color: #229954;}

.boks5 {background-color: #E73C85;}

.boks6 {background-color: #7D3C98;}


.bokser1, .bokser2 {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    display: flex; 
}

/* RESPONSIVE FOR 768PX */

@media only screen and (max-width: 768px){
    
/* Responsive design for header og navbar */
    header {
        background-position: 55%;
        height: 30vh;   
    }
    
    p {font-size: 3vh;}
    
    .tellus{
        padding: 0;
    }
    
    .tellus h1{
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: 50px;
        display: block;
        position: absolute;
        left: 25%;
        top: 10%;
    }
    
    .meny{
        padding: 0;
    }
    
    .meny h1{
        display: inline-block;
        padding: 1.5%;
        width: 47%;
        text-align: center;
        margin: 0;    
        font-size: 20px;
    }
    

/* Respnsive design for problemstilling-side */
    .problemstillinginnhold{
        margin-left: 0;
    }
    

/* Responsive design for løsningsforslag-side */
    .losningsforslaginnhold{
        margin-left: 0:
    }
    
    
/* Respnsive design for målgrupper-side */
    .malgruppeinnhold { 
        margin: 0;
        padding: 0;
    }
    
    .malmeny {    
        width: 18%;
        margin: 0;
        font-size: 11.5px;
        height: 43vh;
        padding: 0;
    }
    
    .malgruppe1, .malgruppe2, .malgruppe3, .malgruppe4, .malgruppe5{
        width: 100%;
    }
    
    .malmain h1, .malmain p{
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .malmain {
        width: 80%;
        margin: 0;
    }
    
    /* Responsive desivn for videre utvikling-side */
    .boks1, .boks2, .boks3, .boks4, .boks5, .boks5, .boks6{
        width: 98%;
        margin-top: 2%;
        margin-bottom: 0;  
    }
    
    .videreutviklinginnhold {
        margin: 0;
        padding: 0;
    }
    
    .bokser1, .bokser2 {
        margin: 0;
        padding: 0;
        display: block;
    }
    
    .bokser1 p, .bokser2 p{
        padding-right: 2%;
    }
    
}